<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDb form</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form action="/createCard" method="post">
        <input type="text" name="name" placeholder="Nome">
        <input type="text" name="time" placeholder="Tempo">
        <input type="submit" value="Enviar">
    </form>
    <ul>
    </ul>
    <script type="module" src="js/script.js"></script>
    <div id="modal">
        <form>
            <label for="nameInput">Name</label>
            <input type="text" id="nameInput">
            <label for="timeInput">Time</label>
            <input type="text" id="timeInput">
            <button id="editConfirm">Edit</button>
            <button href="/">Cancel</button>
        </form>
    </div>
</body>
</html>